$primary: #002C5f;
$nsjbi-accent: #ffb400;
$danger: #cc0000;    
$warning: #fcbf49;  
$maintenance: #e81777; 
$link-color: #0057b8;  
$border-radius: 1rem;  
$secondary-text: #444444;

$highlight: #3f87ca;  
$highlight-white: #f4f8fc;

$dark-font-color: #b8bec9; 
$dark-font-color2: #12181f;
$dark-bg: #0e1520;  
$dark-bg2: #0a0f1a;
$dark-border-color: #1b2430;
$dark-header-bg: #142038;    

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.5rem;
